JWT_SECRET={generate code 64 base with crypto.randomBytes(64).toString('hex')}
REFRESH_SECRET='{generate code 64 base with crypto.randomBytes(64).toString('hex')}'
FRONTEND_ORIGIN='http://localhost:3000'
NODE_ENV='development'
SHOPIFY_API_KEY={your shopify client id}
SHOPIFY_API_SECRET={your shopify client secret}
SCOPES='read_products,read_orders'
HOST_NAME='localhost'