.loginPage{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height:auto;
}
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}